<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IOperacionesAXOrdenSurtido" />
                <binding name="BasicHttpBinding_IOperacionesAXContenedor" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_AxWHSWorkTableService" />
                <binding name="NetTcpBinding_AxWHSCloseContainerService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.101.52/OperacionesAX/OperacionesAXOrdenSurtido.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOperacionesAXOrdenSurtido"
                contract="OperacionesAXOrdenSurtido.IOperacionesAXOrdenSurtido"
                name="BasicHttpBinding_IOperacionesAXOrdenSurtido" />
            <endpoint address="net.tcp://srvaosdyn02:8202/DynamicsAx/Services/WHSWorkTableGroup"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_AxWHSWorkTableService"
                contract="WHSWorkTableGroup.AxWHSWorkTableService" name="NetTcpBinding_AxWHSWorkTableService">
                <identity>
                    <userPrincipalName value="aosuser@antera.com.mx" />
                </identity>
            </endpoint>
            <endpoint address="http://192.168.101.52/OperacionesAX/OperacionesAXContenedor.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOperacionesAXContenedor"
                contract="OperacionesAXContenedor.IOperacionesAXContenedor"
                name="BasicHttpBinding_IOperacionesAXContenedor" />
            <endpoint address="net.tcp://srvaosdyn02:8202/DynamicsAx/Services/WHSCloseContainerGroup"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_AxWHSCloseContainerService"
                contract="WHSCloseContainerGroup.AxWHSCloseContainerService"
                name="NetTcpBinding_AxWHSCloseContainerService">
                <identity>
                    <userPrincipalName value="aosuser@antera.com.mx" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>